// Font
$mainFont            : 'Avenir Next Cyr', Arial, sans-serif;
$demiFont            : 'Avenir Next Cyr Demi', Arial, sans-serif;
$mainFontSize            : 27px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.1;


$text-color           :  #595959;
$primary-color-1   : #9dc575;
$primary-color-2   : #da632c;

$xxlg: 1739px;
$xlg: 1485px;
$lg: 1240px;
$md: 992px;
$sm: 779px;
$xs: 576px;
$xxs: 450px;