.category {
  padding-top: 128px;

  &__items{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.69%;
  }
  &__item {
    flex: 1 1 (100% - 1.69 * 8)/4;
    max-width: (100% - 1.69 * 8)/4;
    margin: 0 1.69% 35px;

    &-wrap{
      padding: 28px;
      position: relative;
      display: flex;
      flex-direction: column;
      border: 1px solid #dadada;
      background-color: #ffffff;
    }
    &-l1{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 215px;
      margin-bottom: 15px;
    }
    &-img{
      max-height: 100%;
    }
    &-tocat {
      display: block;
      color: #3e3e3e;
      font-size: 18px;
      margin-bottom: 13px;
    }    
    &-name {
      display: block;
      color: #3e3e3e;
      font-size: 27px;
      line-height: 1.5;
    }

    &-btn {
      margin-top: 37px;
      margin-bottom: 5px;
    }

    &--abs {
      display: none;
      background-color: #fff;
      transition-duration: 0.4s;
    }
  }
      &-look-more{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 50px;
        
        &__btn{
          position: relative;
          margin: 0 auto;
        }
        &__note{
          position: absolute;
          right: -19px;
          top: 50%;
          width: 250px;
          transform: translate(100%, -50%);

          color: #3e3e3e;
          font-size: 21px;
        }
      }

  &__item-wrap:hover {
    box-shadow: 0 0 31px 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
    .category__item--abs {
        display: block;
    }
  }

}

@media (max-width: $xlg) {
  .category {
    &__items{
      margin: 0 -1%;
    }
    &__item {
      flex: 1 1 (100% - 1 * 8)/4;
      max-width: (100% - 1 * 8)/4;
      margin: 0 1% 35px;
      &-name {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: $md) {
  .category {
    &__item {
      flex: 1 1 (100% - 1 * 6)/3;
      max-width: (100% - 1 * 6)/3;

      &-wrap{
        padding: 15px;
      }
    }
  
    &__item-wrap:hover {
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    }
  }
}
@media (max-width: $sm) {
  .category {
    &__item{
      flex: 1 1 (100% - 1 * 4)/2;
      max-width: (100% - 1 * 4)/2;
      &-l1{
        height: 180px;
      }
      &-cat{
        font-size: 13px;
      }
      &-name {
        font-size: 16px;
      }
      &--abs{
        display: block;
      }
    }
    &-look-more{
      &__note{
        right: 50%;
        top: auto;
        bottom: -15px;
        width: 250px;
        transform: translate(50%, 100%);

        font-size: 16px;
      }
    }
  }
}
@media (max-width: $xs) {
  .category {

    &__item{
      padding: 7px;
      &-l1{
        height: 110px;
        margin-bottom: 20px;
      }
      &-cat{
        margin-bottom: 7px;
      }
      &-name {
        font-size: 16px;
      }
      &-btn{
        margin-top: 25px;
      }

    } 
  }
}
@media (max-width: $xxs) {
  .category {
    &__items{
      margin: 0;
    }
    &__item{
      flex: 1 1 100%;
      max-width: 100%;
      &-btn{
        font-size: 15px;
        height: 34px;
      }
    }
    &-look-more{
      &__btn{
        font-size: 14px;
        height: 31px;
        border-radius: 15px;
      }
    }
  }
}

